body,a,ul,p,h1,h2,h3,h4,h5,h6,input{
	margin:0px;
	padding:0px;
	text-decoration: none;
	list-style: none;
}
body{
	font:14px/1.5em 微软雅黑;
	color:#222;
	background-color: #f4f4f4;
}
div.container{
	width:800px;
	margin:0px auto;
	position:relative;
}
div.container h1{
	color:#1a0303;
	margin:10px 0px 18px 0px;
	text-align: center;
}
#nav{
	width: 55px;
	position:fixed;
	top:170px;
	right:100px;
}
#nav ul{
	list-style: none;
}
#nav ul li{
	background-color: #fff;
}
#nav li a{
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	padding:5px 5px 4px 5px;
	color:#333;
	text-decoration: none;
	border-bottom:1px solid #F0F8FF;
}
#nav li a:hover,#nav li a.top:hover{
	background-color: #87CEFA;
}
#nav li a.top{
	background:url(../img/top.png) no-repeat 14px 4px;
	background-size: 27px;
}

/* public */
#main div.message{
	border: 1px solid #483D8B;
	background-color: #ffffff;
	background-attachment:fixed;
	opacity: 0.9;
	border-radius: 10px;
	margin-bottom:10px;
	padding:7px 7px 5px 0px;
	position:relative;
}
div.message img{
	padding-left:10px;
}
div.message ul{
	list-style: none;
}
div.message ul li{
	line-height: 30px;
	padding-left:10px;
}
div.message div.author{
	float:left;
	position: absolute;
	top:4px;
	left:65px;
	color:#8470FF;
}
div.message div.addTime{
	float:left;
	display: block;
	position: absolute;
	top:33px;
	left:65px;
	font-size:12px;
	color:#87CEFA;
}
div.message ul li.title{
	font-weight: 800;
}
div.message ul li.content{
	text-indent: 3em;
}
div.message ul li.reply{
	color:#000080;
	margin:0px 20px 10px 20px;
	border-radius: 7px;
}
div.message .zan{
	background: url(../img/zan.png) no-repeat;
	background-size: 32px;
	width:30px;
	height:29px;
	position:absolute;
	top:15px;
	left:709px;
}
div.message .zan:hover{
	background: url(../img/dianzan.png) no-repeat;
	background-size: 36px;
	width:50px;
	height:50px;
	position:absolute;
	top:15px;
	left:709px;
	transition: all 0.4s;
	cursor: pointer;
}
div.message .zannum{
	width:20px;
	height:20px;
	position:absolute;
	top:21px;
	left:747px;
	color:#8a8a8a;
}
div.nav{
	border:1px solid #f00;
}
/* 遮罩层 */
#mask{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color: #000;
	opacity: 0.3;
	display: none;
	
}
/* 发表留言 */
div.fabu{
	border:1px solid #a8a2cb;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom:10px;
	padding-left:10px;
	padding-bottom:10px;
	width: 488px;
	height: 294px;
	display: none;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-244px;
	margin-top:-147px;
	z-index:2;
}
div.fabu h3{
	text-align: center;
	padding-top:10px;
}
div.close{
	text-align: center;
	width: 15px;
	height: 15px;
	padding:3px;
	position:absolute;
	top:13px;
	right:17px;
}
div.close:hover{
	background-color: #D3D3D3;
	border-radius: 21px;
}
div.fabu input[type=text]{
	height:18px;
}
div.fabu input.title{
	width:347px;
}
div.fabu textarea{
	width:347px;
	height:100px;
	resize: none;
}
div.fabu input.sub{
	width:100px;
	height:30px;
	background-color: #8470FF;
	color:#ffffff;
	border:none;
	cursor:pointer;
	font-size:14px;
	border-radius: 7px;
	margin-top:5px;
}
div.fabu input.res{
	margin-left:50px;
}
table input[type=text],table textarea,table select{
	background-color:#E0FFFF;
	border:1px solid #8470FF;
	padding:2px;
	border-radius: 5px;
}
/* 登录界面 */
#login{
	width:320px;
	height:270px;
	color:#333;
	padding:50px;
	background-color: #fff;
	border:1px solid #a8a2cb;
	border-radius: 7px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-210px;
	margin-top:-185px;
	z-index:2;
	display: none;
}
div.comtitle{
	padding-bottom:20px;
}
div.comtitle span{
	text-align:center;
	color:#666666;
	padding-left:51px;
}
div.comtitle h1 img{
	position:absolute;
	width:35px;
	top:56px;
	left:145px;
}
div.shuru{
	margin-left:8px;
	overflow: hidden;
	margin-top:-5px;
}
img.img1{
	width:20px;
	position:absolute;
	top:145px;
	left:70px;
}
img.img2{
	width:20px;
	position:absolute;
	top:205px;
	left:70px;
}
#login input[type=text],#login input[type=password]{
	border-color:#d3d3d3;
	width:267px;
	height:38px;
	border-width:1px;
	border-style:solid;
	background-color: #ffffff;
	border-radius:2px;
	margin-bottom:20px;
	padding-left:38px;
	line-height:1.3ex;
}
#login input[type=text]:focus,#login input[type=password]:focus{
	border-color:#f00;
}
#login input[type=radio]{
	width:14px;
	height:18px;
}
#login input[type=submit]{
	width:309px;
	height:42px;
	margin-top:20px;
	line-height:42px;
	font-size:20px;
	border-radius: 4px;
	border:none;
	background-color: #3B78DD;
	color:#ffffff;
}



/* 用户回复设置 */
li.reply2{
	margin-left: 20px;
	font-size: 14px;
	color: #4ea315;
}
a.reply2{
	float: right;
	position: relative;
	bottom: 25px;
	right: 20px;
}
